<!DOCTYPE html>
<html>
     <head>
          <title>ADD ACTIVITIES TO EXISTING BUCKET LISTS</title>
          <link rel="stylesheet" href="../static/main.css">
     </head>
     <body>
          <div>
           Activity or goal <input type="text" name="act1"/>
          </div>
          <div>
           Activity or goal <input type="text" name="act2"/>
          </div>
          <div>
           Activity or goal <input type="text" name="act3"/>
          </div>
          <div>
           Activity or goal <input type="text" name="act4"/>
          </div>
          <div>
           Activity or goal <input type="text" name="act5"/>
          </div>
          <div>
             <button type="button" name="add">ADD ACTIVITIES</button>
          </div>

     </body>

</html>
