<!DOCTYPE html>
<html>
     <head>
          <title>ADD ACTIVITIES TO EXISTING BUCKET LISTS</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
          <link rel="stylesheet" href="../static/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     </head>
     <body>
          <div class="container">
          <div class="icon-bar">
              <a href="home.html"><i class="fa fa-home"></i></a>
              <a href="create.html"><i class="fa fa-cubes"></i></a>
              <a href="view.html"><i class="fa fa-search"></i></a>
              <a class="active" href="add.html"><i class="fa fa-plus"></i></a>
              <a href="#"><i class="fa fa-wrench"></i></a>
              <a href="login.html"><i class="fa fa-power-off"></i></a>
              </div>
               <div class="well well-lg">
                 <p class="text-primary lead">
                     Oops! Did you forget to add something to an already existing bucket list? Something new come up?
                     Don't worry about it, we've got you covered. Add new items to existing bucket lists here.
                 </p>
             </div>
          </div>
          <div class="container">
              <form>
                   <div class="form-group">
                      <label>Goal or Experience</label>
                      <input type="text" name="first_g" class="form-control"/>
                      <label>Requirements to achieve goal</label><input type="text"
                      class="form-control" placeholder="Please include some typical requirements needed to achieve this goal" />
                      <label>Estimated cost in Kenyan Shillings:</label>
                      <select class="form-control" id="sel1">
                      <option>0 - 200,000</option>
                      <option>200,001 - 400,000</option>
                      <option>400,001 - 600,000</option>
                      <option>600,001 - 800,000 </option>
                      <option>800,001 - 1,000,000</option>
                      <<option>Above 1,000,000</option>
                      </select>
                      <label>Achieve goal by</label> <input type="date" name="achieve1" class="form-control"/>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <label>Goal or Experience</label>
                    <input type="text" name="first_g" class="form-control"/>
                    <label>Requirements to achieve goal</label><input type="text"
                    class="form-control" placeholder="Please include some typical requirements needed to achieve this goal" />
                    <label>Estimated cost in Kenyan Shillings:</label>
                    <select class="form-control" id="sel1">
                    <option>0 - 200,000</option>
                    <option>200,001 - 400,000</option>
                    <option>400,001 - 600,000</option>
                    <option>600,001 - 800,000 </option>
                    <option>800,001 - 1,000,000</option>
                    <<option>Above 1,000,000</option>
                    </select>
                    <label>Achieve goal by</label> <input type="date" name="achieve1" class="form-control"/>
                 </div>
                 <hr/>
                 <div class="form-group">
                    <label>Goal or Experience</label>
                    <input type="text" name="first_g" class="form-control"/>
                    <label>Requirements to achieve goal</label><input type="text"
                    class="form-control" placeholder="Please include some typical requirements needed to achieve this goal" />
                    <label>Estimated cost in Kenyan Shillings:</label>
                    <select class="form-control" id="sel1">
                    <option>0 - 200,000</option>
                    <option>200,001 - 400,000</option>
                    <option>400,001 - 600,000</option>
                    <option>600,001 - 800,000 </option>
                    <option>800,001 - 1,000,000</option>
                    <<option>Above 1,000,000</option>
                    </select>
                    <label>Achieve goal by</label> <input type="date" name="achieve1" class="form-control"/>
                </div>
                <hr/>
                <div class="form-group">
                   <label>Goal or Experience</label>
                   <input type="text" name="first_g" class="form-control"/>
                   <label>Requirements to achieve goal</label><input type="text"
                   class="form-control" placeholder="Please include some typical requirements needed to achieve this goal" />
                   <label>Estimated cost in Kenyan Shillings:</label>
                   <select class="form-control" id="sel1">
                   <option>0 - 200,000</option>
                   <option>200,001 - 400,000</option>
                   <option>400,001 - 600,000</option>
                   <option>600,001 - 800,000 </option>
                   <option>800,001 - 1,000,000</option>
                   <<option>Above 1,000,000</option>
                   </select>
                   <label>Achieve goal by</label> <input type="date" name="achieve1" class="form-control"/>
               </div>
               <hr/>
               <div class="form-group">
                  <label>Goal or Experience</label>
                  <input type="text" name="first_g" class="form-control"/>
                  <label>Requirements to achieve goal</label><input type="text"
                  class="form-control" placeholder="Please include some typical requirements needed to achieve this goal" />
                  <label>Estimated cost in Kenyan Shillings:</label>
                  <select class="form-control" id="sel1">
                  <option>0 - 200,000</option>
                  <option>200,001 - 400,000</option>
                  <option>400,001 - 600,000</option>
                  <option>600,001 - 800,000 </option>
                  <option>800,001 - 1,000,000</option>
                  <<option>Above 1,000,000</option>
                  </select>
                  <label>Achieve goal by</label> <input type="date" name="achieve1" class="form-control"/>
              </div>
              <hr/>
          <div>
             <button type="submit" name="add" class="btn btn-primary">ADD ACTIVITIES</button>
          </div>
     </form>
      </div>
      <br /><br />
      <div class="container">
      <div class="well well-lg">
           <p>
               Give us a <span class="glyphicon glyphicon-thumbs-up"/> to let you friends know about us!
           </p>
      </div>
</div>

     </body>

</html>
