<!DOCTYPE html>
<html>
     <head>
          <title>CREATE YOUR BUCKETLIST HERE</title>
          <link rel="stylesheet" href="../static/main_create.css"/>

     </head>
     <body>
       <p> Create you Bucketlist here,Knock yourself out!

       </p>
          <div>
              First goal <input type="text" name="first_g"/>
              Achieve goal by <input type="text" name="achieve1"/>
          </div>
          <div>
            Second goal <input type="text" name="second_g"/>
              Achieve goal by <input type="text" name="achieve2"/>

          </div>
          <div>
            Third goal <input type="text" name="third_g"/>
              Achieve goal by <input type="text" name="achieve3"/>
          </div>
          <div>
            Fourth goal <input type="text" name="fourth_g"/>
              Achieve goal by <input type="text" name="achieve4"/>
          </div>
          <div>
            Fifth goal <input type="text" name="fifth_g"/>
              Achieve goal by <input type="text" name="achieve5"/>
          </div>
          <div>
              Sixth goal <input type="text" name="sixth_g"/>
                Achieve goal by <input type="text" name="achieve6"/>
          </div>
          <div>
            Seventh goal <input type="text" name="seventh_g"/>
              Achieve goal by <input type="text" name="achieve7"/>
          </div>
          <div>
            Eighth goal <input type="text" name="eighth_g"/>
              Achieve goal by <input type="text" name="achieve8"/>
          </div>
          <div>
            Ninth goal <input type="text" name="ninth_g"/>
              Achieve goal by <input type="text" name="achieve9"/>
          </div>
          <div>
            Tenth goal <input type="text" name="tenth_g"/>
            Achieve goal by <input type="text" name="achieve10"/>
          </div>
          <div>
          Save Bucket list as <input type="text" name="save_as"/>

          </div>


          <div>
          <button type="button" name="create">CREATE BUCKETLIST</button>
          </div>





     </body>








</html>
