<!DOCTYPE html>
<html>
     <head>
          <title>HOME</title>
          <link rel="stylesheet" href="../static/main.css">

     </head>
           <body>
                <p> Welcome to the BuckIt App.
                  You can create, view and add items to existing bucket lists by clicking on the links below.
                <div>
                   <a href="create.html">CREATE</a>
                </div>
                <div>
                  <a href="view.html">VIEW</a>
                </div>

           </body>
</html>
