<!DOCTYPE html>
<html>
     <head>
          <title>REGISTER FOR BuckIt APP!</title>
          <link rel="stylesheet" href="../static/main.css"/>
     </head>
     <body>
       <p>Hi there adventure seeker!BuckIt allows you to keep track and share experiences and goals you want to achieve as you grow older.
         Register today and instantly create your own bucket list.  </p>
       <form>
       <div>
        Email <input type="text" name="email"/>
       </div>
       <div>
        First Name <input type="text" name="first_name"/>
        Second Name<input type="text" name="second_name"/>
       </div>
       <div>
      Password<input type="text" name="password"/>
      Confirm Password  <input type="text" name="confirm_password"/>
       </div>
       <div>
       <button type="button" name="submit">Submit</button>
       </div>
     </form>

     <div>
        Already Registered? Please log in  <a href="login.html">here</a>
     </div>
     </body>


</html>
