<!DOCTYPE html>
<html>
     <head>
          <title>VIEW YOUR BUCKETLISTS</title>
          <link rel="stylesheet" href="../static/main_create.css"/>
     </head>
     <body>
       Type the names of the bucketlists you want to view here
          <div>
              <input type="text" name="view1"/>
          </div>
          <div>
              <input type="text" name="view2"/>
          </div>
          <div>
              <input type="text" name="view3"/>
          </div>
          <div>
              <input type="text" name="view4"/>
          </div>
          <div>
              <input type="text" name="view5"/>
          </div>
          <div>
              <button type="button" name="view">VIEW BUCKETLISTS</button>
              
          </div>

     </body>








</html>
